<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${Plugin_Name}</string>
	<key>CFBundleGetInfoString</key>
	<string>${CMAKE_PROJECT_VERSION} ©</string>
	<key>NSHumanReadableCopyright</key>
	<string>©</string>
	<key>CFBundleShortVersionString</key>
	<string>${CMAKE_PROJECT_VERSION}</string>
	<key>CFBundleName</key>
	<string>${Plugin_Name}</string>
	<key>CFBundlePackageType</key>
	<string>${PLUGIN_TYPE}</string>
	<key>CFBundleSignature</key>
	<string>8BIM</string>
</dict>
</plist>
